[gcp_service_account]
type = "service_account"
project_id = "[sadfklasdlfka]"
private_key_id = "[asdfklasdjfaks]"
private_key = """
-----BEGIN PRIVATE KEY-----
askdfjlksajflksjflasjdflkas
-----END PRIVATE KEY-----
"""
client_email = "my-duty-planning@my-duty-planning.iam.gserviceaccount.com"
client_id = "12312432423"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/my-duty-planning%40my-duty-planning.iam.gserviceaccount.com"
universe_domain = "googleapis.com"